################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PS4_PKG_Linker/bin/Debug/UP0334-CUSA02328_00-SMITEXXXXXXXXXXX-A1092-V0100.json
/.vs
