################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PS4_PKG_Linker/.vs/PS4_PKG_Linker/v15
